.inputE{
    transition: 2s;
    width: 100px;
    height: 40px;
    &:focus{
        width: 150px;
        height: 35px;
        font-size: 22px;
        background-color: lightgray;
    }
    
}
.Botonenviar{
    height: 60px;
    width: 80px;
}